name: apple_pencil_double_tap
description: A Flutter plugin for detecting Apple Pencil interactions including double-tap and squeeze gestures on iPad.
version: 1.0.1
repository: https://github.com/Code-Growers/apple_pencil_double_tap
issue_tracker: https://github.com/Code-Growers/apple_pencil_double_tap/issues
homepage: https://codegrowers.tech

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: ApplePencilDoubleTapPlugin
        swiftPackageManager:
          path: ios/apple_pencil_double_tap/
